{% extends "base.html" %}
{% block title %}Die Losungen der Herrnhuter Brüdergemeine: {{ vers.datum }}{% endblock %}
{% block content %}
<div id=losung_detail>
<h2>
<a href='{{ vers.gestern }}' title='vonangehender Tag'>«</a>
{{ vers.wtag }}, {{ vers.datum }}
{% if vers.morgen %}<a href='{{ vers.morgen }}' title='nächster Tag'>»</a>
{% endif %}</h2>

{% if vers.sonntag %}<h3>{{ vers.sonntag }}</h3>

{% endif %}<p class=text>{{ vers.losungstext | htmlize }}</p>
<p class=vers>{{ vers.losungsvers }}</p>

<p class=text>{{ vers.lehrtext | htmlize }}</p>
<p class=vers>{{ vers.lehrtextvers }}</p>
</div>

<p class=copyright>©
<a href="http://www.ebu.de/" title="Evang. Brüder-Unität Bad Boll/Friedrich Reinhardt Verlag">EBU</a>,
<a href="http://www.losungen.de/">losungen.de</a>
</p>
{% endblock %}
